* {
	margin: 0px;
	padding: 0px;
}
body {
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
	font-family: YaHei,Helvetica,Tahoma,sans-serif;
	font-size: 16px;
	color: #cccccc;
	margin: 0px;
	padding: 0px;
	background-color: #343434;
}
#debug {
	background-color: white;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #000;
	margin: 10px;
	height: 270px;
	overflow: scroll;
	color: black;
	font-size: 12px;
}
#debug p {
	padding: 3px 5px;
	word-wrap: break-word;
}
.gray {
	background-color: #ddd;
}
#debug span {
	display: block;
	word-wrap: break-word;
	margin-bottom: 2px;
}
#buttons {
	text-align: center;
}
.button {
	display: inline-block;
	margin: 5px 5px;
	padding: 7px 10px;
	text-align: center;
	text-decoration: none;

	text-shadow: 1px 1px 1px rgba(255,255,255, .22);

	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;

	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
	box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);

	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	transition: all 0.15s ease;

	color: #19667d;
	background: #70c9e3; /* Old browsers */
	background: -moz-linear-gradient(top,  #70c9e3 0%, #39a0be 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#70c9e3), color-stop(100%,#39a0be)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* IE10+ */
	background: linear-gradient(top,  #70c9e3 0%,#39a0be 100%); /* W3C */
}